.app, body {
  background-color: #36393f;
  color: #fff;
  font-family: sans-serif;
  padding: 1rem;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.todo-item {
  align-items: center;
  background-color: #40444b;
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.checkbox {
  cursor: pointer;
}

.text {
  flex: 1;
}

.text.completed {
  color: #747f8d;
  text-decoration: line-through;
}

.delete {
  cursor: pointer;
}
.discord-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.discord-input {
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #2f3136;
  color: #fff;
  opacity: 0.6;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  box-sizing: border-box;
}
.discord-input::placeholder{
  color: white;
}

.discord-button {
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #7289da;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.discord-button.cancel{
  margin: 0px 10px;
color: rgb(248, 228, 99);
}

.discord-button:hover {
  background-color: #677bc4;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  line-height: 2;
}